# Exploratory Data Analysis

## Objective
Find meaningfull insights from the data. Look for any patterns in the data that might aid the machine learning process.

# 1 Import Data

## 1.1 Import Libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from wordcloud import WordCloud

## 1.2 Load Data

In [5]:
train = pd.read_csv("train_clean.csv")
val = pd.read_csv("val_clean.csv")
explore = pd.concat([train, val])

explore.head()

,Unnamed: 0,text,real_news,tokens
0,5301,upset at trump mexico voices worry and irritat...,1,"['upset', 'at', 'trump', 'mexico', 'voices', '..."
1,6168,watch obama directly calls trump out for cari...,0,"['watch', 'obama', 'directly', 'calls', 'trump..."
2,3134,trump lawyer says president not informed he is...,1,"['trump', 'lawyer', 'says', 'president', 'not'..."
3,540,trump names interim consumer agency head likel...,1,"['trump', 'names', 'interim', 'consumer', 'age..."
4,7518,johnny depp goes off on donald trump he’s ‘a ...,0,"['johnny', 'depp', 'goes', 'off', 'on', 'donal..."